<!--
    JBoss, Home of Professional Open Source
    Copyright 2017, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<div class="wrapper">
  <div class="menu">
    <button *ngIf="!authenticated()" name="loginBtn" (click)="login()">Login</button>
    <button *ngIf="authenticated()" name="logoutBtn" (click)="logout()">Logout</button>
    <button id="accountBtn" name="accountBtn" (click)="account()">Account</button>
  </div>

  <div class="content">
    <p *ngIf="authenticated()">Protected words：</p>
    <p *ngIf="authenticated()">I can eat glass, it does not hurt me</p>
    <button name="publicBtn" (click)="request('order')">Invoke Order</button>
    <button name="publicBtn" (click)="request('orders')">Invoke Orders</button>
    <!--<button name="securedBtn" (click)="request('secured')">Invoke Secured</button>-->
    <!--<button name="adminBtn" (click)="request('admin')">Invoke Admin</button>-->

    <div class="message"><span id="message" class="{{errorClass}}">{{message}}</span></div>
  </div>
</div>
